/*船员中心*/
/*标题*/
.mariner{
	width: 98%;
	/*height: 100%;*/
	margin: 10px;
	background-color: #FFFFFF;
	border-radius: 2px;
	clear: both;
}
.mariner h3{
	float: left;
	width: 95.5%;
	height: 27px;
	color: #FFFFFF;
	line-height: 27px;
	padding-left: 24px;
	font-size: 14px;
	margin-left: 10px;
	margin-top: 10px;
	border-radius: 2px;
	background: url("../img/icon copy 18.png") no-repeat #303338 8px 10px ;
}

/*内容*/
.mariner .text{
	/*clear: both;*/
	display: flex;
	margin: 0 auto;
	width: 98%;
	padding-bottom: 46px;
	padding-top: 15px;
}
.mariner .text img{
	width: 260px;
	height: 176px;
	margin-right: 21px;
}

/*列表文字字体等*/
.mariner .text h4{
	width: 156px;
	height: 25px;
	margin-bottom: 11px;
	font-size: 14px;
	line-height: 25px;
	color: #FFFFFF;
	border-radius: 5px;
	text-indent: 1em;
}
/*列表文字背景颜色*/
.mariner .text .t1{
	background-color: #006766;
}
.mariner .text .t2{
	background-color: #989933;
	margin-top: 10px;
}

/*列表文字*/
.mariner .text p{
	font-size: 14px;
	line-height: 24px;
	padding-bottom: 6px;
	border-bottom: 1px dashed #B6B6B6;
}